@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
  }
body{
    background-color: #242121;
}
.wrapper{
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 70px;
    max-width: 1160px;
    background-color: #312d2d;
    color: white;
    border-radius: 8px;
}
.back img{
    max-width: 1160px;
    border-radius: 8px;
}
.wrapper h1{
  font-size: 56px;
}
.logo{
    max-width: 1240px;
    margin: 0px auto;
}
.logo img{
    width: 270px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 9px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 24px;
}
.back{
    max-height: 550px;
}
.welcome-text{
    max-width: 677px;
    font-family: 'Quicksand', sans-serif;
    font-weight:  500px;
    font-size: 46px;
    text-align: center;
    padding: 10px;
    position: relative;
    margin: 0px auto;
    top: -380px;
    backdrop-filter: blur(10px);
    border-radius: 50%;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    max-width: 1160px;
}
.bookCard{
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    font-family: Roboto;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 140px;
}
.bookCard img:hover{
    transform: scale(1.3);
}
.bookCard img:hover{
    transform: scale(1.8);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.card-heading{
    margin: 0px auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 26px;
  max-width: 300px;
  text-align: center;
}
.card-heading p{
    margin: 0px auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 300px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


.price{
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 32px;
color:#faf1ce;
position: absolute;
bottom: -50px;
left: 240px
}
.btn-buy{
  height: 40px;
  width: 130px;
  border-radius: 7px;
  background-color: #FFE787;
  border: 1px solid #FFE787;
  color: #242121;
position: absolute;
bottom: -70px;
left: 140px;
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 16px;
margin-top: 15px;
}

.btn-buy:hover{
background-color:  #242121;
  border: 1px solid #FFE787;
  color:  #FFE787;
  cursor: pointer
}
.btn-learn{
    height: 40px;
    width: 130px;
    border-radius: 7px;
    background-color: #242121;
    border: 1px solid #FFE787;
    color: #FFE787;
  position: absolute;
  bottom: -70px;
  left: 300px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  }

  .btn-learn:hover{
  background-color: #FFE787;
    border: 1px solid #FFE787;
    color: #242121;
    cursor: pointer
  }