body{
    background-color: #242121;
}
.wrapper{
    margin: 0px auto;
    margin-top: 10px;
    max-width: 1160px;
    background-color: #312d2d;
    color: white;
    border-radius: 8px;
}
.back img{
    max-width: 1160px;
    border-radius: 8px;
}
.wrapper h1{
  font-size: 56px;
}
.logo{
    max-width: 1240px;
    margin: 0px auto;
}
.logo img{
    width: 270px
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 9px;
    margin-bottom: 30px;
    align-items: center;
}
.welcome-text{
    max-width: 677px;
    font-family: Roboto;
    font-weight:  500px;
    font-size: 46px;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 265px;
    right: 650px;
    backdrop-filter: blur(10px);
    min-width: 500px;
border-radius: 50%;
}
.gridColumn img{
    max-width: 377px;
    border-radius: 5px;
    transform: skew();
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px auto;
    max-width: 1160px;
}
.bookCard{
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    font-family: Roboto;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 100px;
}
.btn-buy{
  height: 40px;
  width: 130px;
  border-radius: 7px;
  background-color: #242121;
  border: 1px solid #FFE787;
  color: #FFE787;
position: absolute;
bottom: -55px;
left: 70px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
margin-top: 15px;
}

.card-heading{
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;

}
.btn-buy:hover{
background-color: #FFE787;
  border: 1px solid #FFE787;
  color: #242121;
  cursor: pointer
}
.price{
font-family: Roboto;
font-weight: 500;
font-size: 22px;
color:#faf1ce;
position: absolute;
bottom: -30px;
left: 110px

}