@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: 'Alfa Slab One', cursive;
    src: url("/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
  }
body{
    background-color: #0a0a23;
}
.header{
  height: 120px;
  background-color: #1b1b32;
  margin: 0px auto;
  min-width: 1600px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-div{
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0px auto;
  top: 60px;
}
.cart {
  cursor: pointer;
top: 30px;
right: 40px;
position: relative;
  max-height: 100px;
  padding-right: 30px;
}
.cart img{
  width: 80px;
}
.wrapper{
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 70px;
    max-width: 1160px;
    background-color: #1b1b32;
    color: white;
    border-radius: 8px;
}
.back {
  max-height: 300px;
}
.back img{
    max-width: 1160px;

}
.wrapper h1{
  font-size: 56px;
  margin-top: 23px;
}
.logo img{
  margin-top: 15px;
    width: 270px;
}
.logo-gif{
  margin-top: 15px;
  width: 170px;
  height: 170px;

}

.welcome-text{
    max-width: 477px;
    max-height: 180px;
    font-family: 'Quicksand', sans-serif;
    font-weight:  500px;
    font-size: 46px;
    text-align: center;
    padding: 10px;
    position: relative;
    margin: 0px auto;
    top: -250px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    }

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px auto;
    max-width: 1160px;
}
.bookCard{
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    font-family: Roboto;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 100px;
}
.bookCard img{
  width: 180px;
  max-height: 230px;
  margin-top: 15px;
  margin-bottom: 25px;
  box-shadow: rgba(225, 224, 224, 0.24) 0px 3px 8px;
}

.bookCard img:hover{
    transform: scale(1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.book-image{
  cursor: move;

}
.card-heading{
    margin: 0px auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 300px;
  text-align: center;
  min-height: 80px;
}
.book-author{
    margin: 0px auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
  min-height: 40px;
}


.price{
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 32px;
color:#faf1ce;
margin: 0 auto;
}
.descriptionBlock{
  visibility: hidden;
  position:absolute;

  }
  .descriptionBlock::after{
    visibility: hidden;
  position:absolute;
  }
  .description{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 8px;
    max-width: 220px;
    font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
  background-color:aliceblue;
  color:#0a0a23;
  text-align: justify;
  z-index: 1;
  position: relative;
  top: -170px;
  left: 170px;
  margin-bottom: 50px;
  height: 150px;
  overflow-y: scroll;
    }
    .description::-webkit-scrollbar {
      width: 10px;
    }
    .description::-webkit-scrollbar-thumb {
      background-color: #0a0a23;
      border: 4px solid transparent;
      border-radius: 8px;
      background-clip: padding-box;
    }
  .descriptionBlock-show {
    visibility: visible;
    z-index: 1;
  }
.cross{
  cursor: pointer;
  display:block;
  position: relative;
  right: -145px;
  top: -150px;
  float: right;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: red;
  z-index: 2;
}
  .cart-content{
    visibility: hidden;
     }
  .cart-content-show{
    visibility: visible;
    float:right;
    margin-right: 50px;
  margin-top: 50px;
  width: 430px;
  border-radius: 7px;
  background-color:aliceblue;
  color: #0a0a23;
font-family: 'Quicksand', sans-serif;
font-weight: 300;
font-size: 14px;
padding: 10px;
overflow: scroll;
max-height: 500px;
  }
  .cart-content-show::-webkit-scrollbar {
    width: 15px;
  }
  .cart-content-show::-webkit-scrollbar-thumb {
    background-color: #3a888f;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

.btn-buy{
  visibility: visible;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: #FFE787;
    border: 1px solid #FFE787;
    color: #0a0a23;
  margin: 0 auto;
position: absolute;
bottom: 0px;
left: 10px;
top: 50px;
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 16px;
box-shadow: rgba(225, 224, 224, 0.24) 0px 3px 8px;
}

.btn-buy:hover{
  background-color: #0a0a23;
  border: 0.3px solid #FFE787;
  color: #FFE787;
  cursor: pointer
}
.btn-learn{
  visibility: visible;
    height: 40px;
    width: 100px;
    background-color: #FFE787;
    border: 1px solid #FFE787;
    color: #0a0a23;
    border-radius: 7px;
     position: absolute;
  bottom: 0px;
  top: 50px;
  left: 125px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(225, 224, 224, 0.24) 0px 3px 8px;

}


  .btn-learn:hover{
    background-color: #0a0a23;
    border: 0.3px solid #FFE787;
    color: #FFE787;
    cursor: pointer
  }
  .cartcount{
    color: #ec0000;
    font-family: 'Alfa Slab One', cursive;
font-weight: 400;
font-size: 26px;
text-align: right;
  margin: 0 auto;
  max-height: 100px;
  margin-top: -145px;
  padding-right: 40px;
  }
.cart-price{
  color: #0a0a23;
}
.cart-book-image img{
  width:  60px;
}
.confirm-btn{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
    border-radius: 7px;
    background-color: #FFE787;
    border: 1px solid #0a0a23;
    color: #0a0a23;
   font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.confirm-btn:hover{
  cursor: pointer;
   background-color:#0a0a23;
    border: 1px solid #0a0a23;
    color: #FFE787;
   font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.cart-total-price{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.remove-btn{
 height: 30px;
    border-radius: 7px;
    background-color: #0a0a23;
    border: 1px solid #FFE787;
    color: #FFE787;
   font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.remove-btn:hover{
  cursor: pointer;
  background-color:#FFE787;
   border: 1px solid #0a0a23;
   color: #0a0a23;
 }
